APScheduler==3.6.3
requests==2.20.1
aiohttp==3.6.2
websocket_client==0.58.0
#pip3 install websocket-client -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
#pip3 install tushare -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
#pip3 install datareader -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
#pip3 install arch -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
#pip3 install pandas-datareader -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install statsmodels -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
requests
pip3 install requests -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip3 install matplotlib -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip3 install arch -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip3 install sklearn2 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip3 install pandas -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com

pip3 install tensorflow -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip3 install -r requirements2.txt -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install google-auth-oauthlib -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install astunparse -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install google-pasta -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install gast==0.3.3 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install inflection -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install importlib-metadata -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install flatbuffers -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install Markdown -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install h5py -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install grpcio -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com

pip install tensorflow -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com

pip list --format=freeze > requirementhuobi.txt

pip3 install -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com -r requirements.txt





absl-py==0.12.0
arch==4.19
astunparse==1.6.3
beautifulsoup4==4.9.3
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.2.1
pip install certifi==2020.12.5 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install cffi==1.14.5 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install chardet==4.0.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install cryptography==3.4.7 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install cycler==0.10.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install Cython==0.29.22 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install demjson==2.2.4 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install flatbuffers==1.12 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install gast==0.3.3 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install google-auth==1.29.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install google-auth-oauthlib==0.4.4 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install google-pasta==0.2.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install grpcio==1.32.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install h5py==2.10.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install idna==2.10 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install importlib-metadata==3.10.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install inflection==0.5.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install joblib==1.0.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install Keras-Preprocessing==1.1.2 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install kiwisolver==1.3.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install lxml==4.6.3 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install Markdown==3.3.4 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install matplotlib==3.3.4 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install mkl-fft==1.3.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install mkl-random==1.1.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install mkl-service==2.3.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install more-itertools==8.7.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install numpy==1.19.2 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install oauthlib==3.1.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install olefile==0.46 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install OpenDataTools==1.0.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install opt-einsum==3.3.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install pandas==1.2.3 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install pandas-datareader==0.9.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install patsy==0.5.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install Pillow==8.2.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install pip==21.0.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install progressbar2==3.53.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install property-cached==1.6.4 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install protobuf==3.15.8 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install pyasn1==0.4.8 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install pyasn1-modules==0.2.8 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install pycparser==2.20 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install pyOpenSSL==20.0.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install pyparsing==2.4.7 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install PySocks==1.7.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install pytesseract==0.3.7 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install python-dateutil==2.8.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install python-utils==2.5.6 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install pytz==2021.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install Quandl==3.6.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install requests==2.25.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install requests-oauthlib==1.3.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install rsa==4.7.2 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install scikit-learn==0.24.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install scipy==1.6.2 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install setuptools==54.2.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install simplejson==3.17.2 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install six==1.15.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install soupsieve==2.2.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install statsmodels==0.12.2 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install tensorboard==2.4.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install tensorboard-plugin-wit==1.8.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install tensorflow==2.4.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install tensorflow-estimator==2.4.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install termcolor==1.1.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install threadpoolctl==2.1.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install tornado==6.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install tushare==1.2.62 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install typing-extensions==3.7.4.3 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install urllib3==1.26.4 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install websocket-client==0.58.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install Werkzeug==1.0.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install wheel==0.36.2 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install win-inet-pton==1.1.0 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install wincertstore==0.2 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install wrapt==1.12.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
pip install zipp==3.4.1 -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com



pip list --format=freeze > requirements.txt
pydoc modules
export PATH=$PATH:/root/anaconda3/bin
source /etc/profile
conda create -n huobi_PythonT python=3.7
source activate huobi_PythonT
Linux:  source activate your_env_nam
Windows: activate your_env_name
python setup.py install
python get_candlestick_5min.py
pip3 install -r requirementhuobi.txt

Linux:  source deactivate your_env_name(虚拟环境名称)
source deactivate huobi_PythonT
Windows:deactivate env_name，也可以使用`activate root`切回root环境

nohup python get_candlestick_1min.py &